<h2>Section title</h2>
<!--grid-->
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <ng-container *ngFor="let object of structure">
        <th *ngIf="object['name'] != 'bselect'"
            [ngClass]="object['hidden'] ? 'hidden-column' : 'column'">{{ object["title"] }}</th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of data" [ngClass]="record === selectedRecord ? 'selected' : 'record' "
        (click)="selectRecord(record)" (dblclick)="onDoubleClick()">
      <ng-container *ngFor="let attribute of record.getAttributes()">
        <td [ngClass]="fieldsMap.get(attribute)['hidden'] ? 'hidden-column' : 'column'">
          {{record.getAttribute(attribute)}}
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
