.hidden-column {
  display: none;
}

.selected {
  background-color: #58a1ff !important;
}

.selected:hover {
  cursor: pointer;
}

.selected:active {
  cursor: pointer;
}

.record:hover {
  cursor: pointer;
}

.record:active {
  cursor: pointer;
}

.my-custom-scrollbar {
  position: relative;
  min-height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.no-wrap {
  white-space: nowrap;
}

.mar-0 {
  margin: 0 !important;
}

.space {
  margin: 10px;
}
