<h2 class="grid-title">{{title}}</h2>
<div #divElement class="table-wrapper-scroll-y my-custom-scrollbar table-responsive space">
  <table class="table table-bordered table-striped table-sm mar-0">
    <thead>
    <tr>
      <ng-container *ngFor="let object of structure">
        <th *ngIf="object['name'] != 'bselect'"
            [ngClass]="getStructureFieldHidden(object['name']) ? 'hidden-column' : 'column'">{{
          object["title"] }}</th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr class="no-wrap" *ngFor="let record of data" [ngClass]="record === selectedRecord ? 'selected' :
    'record' "
        (click)="selectRecord(record)" (dblclick)="onDoubleClick()">
      <ng-container *ngFor="let attribute of record.getAttributes()">
        <td [ngClass]="getStructureFieldHidden(attribute) ? 'hidden-column' : 'column'">
          {{record.getAttribute(attribute)}}
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
<app-pager [pageCount$]="this.pagesCount$"
           (pageChange)="reload($event)"></app-pager>
