li app-menu {
  display: none;

}

li:hover app-menu {
  display: block;
  position: relative;
  z-index: 400;
  /* background-color: #ebebeb; */
  left: 10%;
  background-color: #f8f9fa;
  z-index: 4000;
}

.bt {
  display: block;
  /*border: 1px solid;*/
}

a {
  width: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}
