li app-menu {
  display: none;

}

li:hover app-menu {
  display: block;
}

.bt {
  display: block;
  /*border: 1px solid;*/
}

ul {
  margin-inline-start: 30px;
}

a {
  width: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}
